.paraText { text-align: center;
}
.headerText { color: blue; text-align: center;
}
.menu ul {
  display: flex;
  margin: 100px;

}

.menu ul li{
  list-style: none;
  margin: 0 20px;
  cursor: pointer;

}
